.gradle
.DS_Store
.classpath
.project
.settings
*.class
*.swp
*.bak
*.iml
*.zip
bin
build
target
dist
/.idea
/out
/*.ipr
/*.iws
/log.txt
gen
gen-external-apklibsres/values/dimens.xml
gen-external-apklibs/
gradle.properties
gradle/
gradlew
gradlew.bat
import-summary.txt
local.properties
app/build
